*{
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to left,   #b30000,  #4d0000);
    
}
.main-container{
    display: flex;
    margin-bottom: 150px;
}
.employee-container{
    width: 80%;
    margin-left: 20px;
    margin-right: 5px;
    
    
    
}
